[MASTER]

ignore=tests,index.py

load-plugins=pylint.extensions.mccabe

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring

[FORMAT]

max-line-length=80

[REFACTORING]

max-nested-blocks=2

[DESIGN]

max-statements=15
max-complexity=3
